<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <form action="/login" method="post">
        <div class="">
            <label for="username">Username</label>
            <input 
                class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                type="username" 
                name="username" 
                id="username" 
                value="<%= oldInput.username %>">
        </div>
        <div class="">
            <label for="password">Password</label>
            <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="password" 
                name="password" 
                id="password" 
                value="<%= oldInput.password %>">
        </div>
        <button class="btn" type="submit">Login</button>
    </form>
    <div class="">
        <a href="/reset">Reset Password</a>
    </div>
</body>
</html>