<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <form action="/login" method="post">
        <div class="">
            <label for="email">E-Mail</label>
            <input 
                class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                type="email" 
                name="email" 
                id="email" 
                value="<%= oldInput.email %>">
        </div>
        <div class="">
            <label for="password">Password</label>
            <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="password" 
                name="password" 
                id="password" 
                value="<%= oldInput.password %>">
        </div>
        <!--<input type="hidden" name="_csrf" value="<%= csrfToken %>">-->
        <button class="btn" type="submit">Login</button>
    </form>
    <div class="">
        <a href="/reset">Reset Password</a>
    </div>
</body>
</html>